#Brand_name{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: x-large;
    margin-left: 0;
    padding: 5px;
}
.Search_bar{
    padding: 3px;
    border-radius: 20px;
    
    
}
.navbar-nav{
    margin-left: auto;
    padding: 10px;
}
.nav-link{
    margin: 0 10px;
}